@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&display=swap');
:root{ 
    /* CSS HEX */
--azul: rgb(55, 120, 218);
--azul-forte: rgb(38, 0, 255);
--rosa: rgb(255, 0, 242);
--rosa-choque: rgb(255, 0, 170);
--titulo: "Dancing Script", cursive;
--texto: "Anton", sans-serif;
}

body{
    background-color: var(--azul);
    font-family: var(--texto);
    dislpay: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}